@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --background: #d7caca;
        --text: #272727;

        --secondary: #444444;
        --tertiary: #757575;
        --hovery: #27272733;

        --brand: #3153e3;
        --orange: #e78c24;
        --red: #f93535;
        --custom_02: #583fc6;
        --purple: #9a0eb3;
        --green: #23a908;

        --custom_01: #c6b594;
        --custom_03: #e1d1d1;

        --radius: 0.5rem;
        --xlarge: 40px;
        --large: 24px;
        --medium: 20px;
        --normal: 16px;
        --tiny: 14px;
    }

    .dark {
        --background: #272727;
        --text: #e0e0e0;

        --secondary: #b1b1b1;
        --tertiary: #686868;
        --hovery: #e0e0e033;

        --custom_01: #766b55;
        --custom_03: #2a2a2a;
    }
}

@layer base {
    body {
        @apply bg-background text-text font-kanit font-medium custom-scrollbar;
    }
}

.active {
    opacity: 1;
}

.transition-effect {
    transition:
        opacity 0.1s ease-in-out,
        top 0.1s ease-in-out;
}

.hide-scrollbar::-webkit-scrollbar {
    display: none;
}

.custom-scrollbar::-webkit-scrollbar {
    width: 3px;
    height: 3px;
    background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    width: 3px;
    height: 3px;
    border-radius: var(--radius);
    background: transparent;
}

.custom-scrollbar:hover::-webkit-scrollbar-thumb {
    background: var(--tertiary);
}